<div ng-repeat="question in questions" class="paddingBox">
	<div class="btn btn-primary dragButton" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
		jqyoui-draggable="{animate:true}" index="{{$index}}" ng-repeat="answer in question.answers">
		{{answer.title}}
	</div>

	<div class="thumbnail dropButton" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop: 'dropComplete()'}" style=''>
		<div data-drag="false" data-jqyoui-options jqyoui-draggable>
			{{question.title}}
		</div>
	</div>
</div>
