<div class="wrapper-chapters" ng-style="wrapper_style">
	<div class="navigation" navigation>
		<ul class="nav nav-tabs">

            <li>
                <img src="images/lexus-logo.png">
            </li>

			<li role="presentation" ng-repeat="(key, chapter) in chapters" ng-class="{'active': $index == currentChapter-1}">
				<a href="javascript: void(0)" ng-click="openChapter($index + 1)">{{chapter.title}}</a>
			</li>
		</ul>
	</div>




	<div ng-if="currentChapter == 1">
		<h1 ng-if="h1" ng-style="h1.css">{{h1.text}}</h1>
		<p ng-if="p" ng-style="p.css" ng-bind-html="p.text"></p>
	</div>
	<div ng-if="currentChapter == 2">
		<div class="questions-wrapper" single-choice questions="{{chapter.questions}}"> </div>
	</div>
	<div ng-if="currentChapter == 3">
		<div class="questions-wrapper" drag-drop questions="{{chapter.questions}}"> </div>
	</div>
	<div ng-if="currentChapter == 4">
		<div class="questions-wrapper" audio-player audio="{{chapter.audio}}"> </div>
	</div>
	<div ng-if="currentChapter == 5">
		<div class="questions-wrapper" video-player video="{{chapter.video}}"> </div>
	</div>


</div>
